*.pyc
__pycache__
*.class
.coverage
.coveragerc
.idea/
.ipynb_checkpoints
/dist/

build/
trash/

/problog/bin/darwin/cnf2dDNNF
/problog/bin/darwin/maxsatz
/problog/bin/java/

sandbox/
data/
test-reports/

problog/lib/python2/
problog/lib/python3/

.DS_Store

web/cache
web/logs
CS267A_HW4_Q4.pl
CS267A_HW4_Q4_cleaned.pl
CS267A_HW4_Q5.pl
